.jumbotron {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background-color: #FCD720;
    color: #E30922;
    height: 300px;
}

.enemy-available {
    color: snow;
}
.player-character {
    color: snow;
}
.nonplayer-character {
    color: snow;
}
.log {
    color:snow;
}
.enemy-available{
    color:snow;
}
#jb2 {
    color: #E30922;
    letter-spacing: 2px;
    font-size: 24px;

    }
#jb1 {
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

h2 {
    color:snow;
}

